<!-- Header -->
<header class="header" id="header">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="/iDialog/index.html" class="logo">
                    <img src="/iDialog/assets/images/logo-idialog.svg" alt="iDialog" class="logo-img">
                    <span class="logo-text">iDialog</span>
                </a>
            </div>

            <div class="navbar-menu" id="navbar-menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/iDialog/index.html" class="nav-link">Início</a>
                    </li>
                    <li class="nav-item">
                        <a href="/iDialog/pages/sobre.html" class="nav-link">Sobre</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">Serviços</a>
                        <ul class="dropdown-menu">
                            <li><a href="/iDialog/pages/servicos/publicos/index.html" class="dropdown-link">Serviços Públicos</a></li>
                            <li><a href="/iDialog/pages/servicos/privados/index.html" class="dropdown-link">Empresas Privadas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/iDialog/pages/portfolio.html" class="nav-link">Portfólio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/iDialog/pages/equipe.html" class="nav-link">Equipe</a>
                    </li>
                    <li class="nav-item">
                        <a href="/iDialog/pages/contato.html" class="nav-link">Contato</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-toggle" id="navbar-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
</header>
